.Listcontainer {
	display:  flex;
	justify-content: center;
	margin-top: 20px;
	margin-right: 20px;
}

.listwrapper {
	width: 100%;
	max-width: 1024px;
	display:flex;
	gap:  20px;
}

.Listsearch {
	flex:1;
	background-color: #febb02;
	padding:  10px;
	border-radius:10px;
	position: sticky;
	top: 10px;
}
.listResult {
	flex: 3;
}
.ListTitle {
	font-size: 20px;
	color: #555;
}
.Listitem {

	display: flex;
	flex-direction: column;
	gap:5px;
	margin-bottom: 10px;

}

.Listitem>input {
	height:30px;
	border: none;
	padding: 5px;

}
.Listitem>span {
	height:30px;
	padding: 5px;
	background-color:white;
	display:  flex;
	align-items: center;
	cursor:  pointer;
}
.Listoptions {

	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	color:  #555;
	font-size: 12px;
}

.Listoptioninput {

	width: 50px;
}
.LSOption {

	padding:10px;


}
.Listsearch>button{

	padding:  10px;
	background-color: #0071c2;
	color:  white;
	border:  none;
	width: 100%;
	font-weight: 500;
	cursor: pointer;
}